@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500&display=swap');


body {
    display: flex;
    font-family: 'Mitr', sans-serif;
    min-height: 100vh;
    display: flex;
  }
  
body, html, .App, #root {
    width: 100%;
    height: 100%;
  }

.bg{
    /* background-image: url(../../views/pages/cdt/bggg.png); */
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    position: 'absolute';
}


#login{
    margin: auto; 
    margin-top: 7%;
    padding: 4%;
    border: 2px;
    border-radius: 15px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cen{
    margin-left: 37%;
    margin-top: 4%;
    font-family: 'Mitr', sans-serif;
}

#regis{
    font-family: 'Mitr', sans-serif;
    margin-top: 10%;
    text-align: center;
}
#loginText{
    color: '#3740FE';
    margin-top: 10%;
    text: 'center';
}
#err{
    font-family: 'Mitr', sans-serif;
    color: rgb(221, 69, 69);
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}